html {
    scroll-behavior: smooth;
    font-family: tahoma;
}

/* General styles */
body {
    width: 100%;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    display: inline-flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    margin-left: 3rem;
    cursor: pointer;
    color: azure;
}

nav li:hover {
    color: rgb(48, 186, 250);
}

.rero {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    background-image: url(https://images.unsplash.com/photo-1543269865-0a740d43b90c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

.disc1 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

.s1 {
    height: auto;
    margin-left: 80rem;
    position: initial;
    padding-top: 44vh;
    font-size: xxx-large;
    animation: slide-in-2 0.7s ease-in-out backwards;
}

sup{
    font-size: 2rem;
}

small,
.h3,
.h1 {
    padding: 0;
    margin: 0;
}

small {
    font-size: 2rem;
}

.enter-shop {
    background: transparent;
    color: #fff;
    width: 15rem;
    height: 3rem;
    border: solid 2px #fff;
    border-radius: 1.2rem;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.enter-shop:hover {
    width: 15.5rem;
    height: 3rem;
    font-size: medium;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.roro{
    width: 100%;
    height: 80vh;
    margin-bottom: auto;
    padding-bottom: 1rem;
}

.roro h1 {
    margin-top: 4rem;
    font-size: 3rem;
    text-align: center;
}

.data {
    margin: 6rem 6rem 1rem 6rem;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 2rem;
}

.data2 {
    margin: 6rem 6rem 1rem 44rem;
    display: inline-flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.data3 {
    margin: 6rem 6rem 1rem 6rem;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-top: 1.2rem;
}

.data4 {
    margin: 6rem 6rem 1rem 44rem;
    display: inline-flex;
    justify-content: space-between; 
    padding-right: 2rem;
}

.card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.title-img {
    width: fit-content;
}

.title-img2 {
    width: fit-content;
}

.title-img3 {
    width: fit-content;
}

.title-img4 {
    width: fit-content;
}

.title-img img {
    width: 20rem;
}

.title-img2 img {
    width: 20rem;
}

.title-img3 img {
    width: 20rem;
}

.title-img4 img {
    width: 20rem;
}

.title-img h2 {
    text-align: center;
}

.title-img2 h2 {
    text-align: center;
}

.title-img3 h2 {
    text-align: center;
}

.title-img4 h2 {
    text-align: center;
}

.sec-data {
    color: #575555;
    margin: 4rem;
    font-size: x-large;
    width: 40rem;
}

.sec-data2 {
    color: #575555;
    margin: 4rem;
    font-size: x-large;
    width: 40rem;
}

.sec-data3 {
    color: #575555;
    margin: 4rem;
    font-size: x-large;
    width: 40rem;
}

.sec-data4 {
    color: #575555;
    margin: 4rem;
    font-size: x-large;
    width: 40rem;
}

.shop-btn {
    color: #575555;
    width: 15rem;
    height: 2.3rem;
    background: transparent;
    border: solid 1.4px black;
    border-radius: 0.4rem;
    cursor: pointer;
}

.shop-btn2 {
    color: #575555;
    width: 15rem;
    height: 2.3rem;   
    background: transparent;
    border: solid 1.4px black;
    border-radius: 0.4rem;
    cursor: pointer;
}

.shop-btn3 {
    color: #575555;
    width: 15rem;
    height: 2.3rem;
    background: transparent;
    border: solid 1.4px black;
    border-radius: 0.4rem;
    cursor: pointer;
}

.shop-btn4 {
    color: #575555;
    width: 15rem;
    height: 2.3rem;
    background: transparent;
    border: solid 1.4px black;
    border-radius: 0.4rem;
    cursor: pointer;
}

.shop-btn:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.175);
    transition: all 0.4s ease-in-out;
}

.shop-btn2:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.175);
    transition: all 0.4s ease-in-out;
}

.shop-btn3:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.175);
    transition: all 0.4s ease-in-out;
}

.shop-btn4:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.175);
    transition: all 0.4s ease-in-out;
}

.rero::-webkit-scrollbar {
    display: none;
}

.top-bar {
    display: flex;
    justify-content: center;
}

header {
    display: inline-flex;
    width: 70%;
    position: fixed;
    margin-top: 0.5rem;
    background-color: #333;
    color: aliceblue;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.logo {
    display: inline-flex;
    width: min-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.logo-icon {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5em;
    margin-left: 2rem;
}

.logo-txt {
    font-size: 26px;
    width: 100%;
}

.container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container2 {
    width: 13rem;
    margin: 1.8rem 0rem 0 10rem;
    display: inline-flex;
}

#search {
    width: 10rem;
    height: 2rem;
    margin: 0;
    border: solid 1px black;
    border-radius: 0.8rem;
    padding: 8px;
}

.search-btn {
    background-color: transparent;
    border: none;
    margin: 0 0 1.5rem 0;
}

#search-img {
    width: auto;
    cursor: pointer;
}

#log-in {
    margin: 2.1rem 0 0 3rem;
    padding: auto;
}

.container3 {
    width: min-content;
    margin: 2rem 0 0 0rem;
    cursor: pointer;
}

#count{
    position: absolute;
    top: 1rem;
    right: 8.8rem;
    background-color: #89bfec;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.services {
    display: inline-flex;
    justify-content: space-between;
    margin: 6rem;
}

.s-1 {
    display: inline-flex;
    justify-content: space-between;
}

.s-2 {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 5.5rem;
}

.s-3 {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 5.5rem;
}   

.s-4 {
    display: inline-flex;
    justify-content: space-between;
    margin-left: 5.5rem;
}

.shead {
    margin-left: 1rem;
}

.stxt {
    color: #575555;
    width: 10rem;
    margin-left: 1rem;
    line-height: 1.5;
}

#img {
    width: 10rem;
}

.faq-section {
    margin: 6rem;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    /* question button */
    background-color: transparent;
    font-weight: bolder;
    font-size: larger;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: max-content;
}

.faq-answer {
    /* Styles for answer element */
    padding: 10px;
    display: none;
    /* Initially hidden */
}

.faq-item.active .faq-answer {
    display: block;
    /* Show */
}

hr {
    color: #cacaca;
    background-color: rgb(163, 159, 159);
    height: 0;
}

.viewed {
    margin: 2rem 0rem 2rem 6rem;
}

.prodCard {
    width: 20rem;
    margin: 4rem;
    padding: 1rem;
    border: solid 1px #575555;
    border-radius: 0.5rem;
    border: solid 0.2px grey;
    border: none;
    cursor: pointer;
}

.prodCard:hover {
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.175);
    border: none;
    transition: all 0.2s ease-in-out;
}

.prodCard img {
    width: 12rem;
    margin: 0.5rem 3rem 0.5rem 3rem;
}

.prodCard button {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: solid 1px #575555;
    cursor: pointer;
    background-color: transparent;
}

.prodCard button:hover {
    background-color: rgba(0, 0, 0, 0.175);
}

.prodCard p {
    font-size: x-large;
    margin: 0 0 10px 0;
}

.prodCard span {
    color: red;
    font-size: 23px;
}

.prodCard .mrp {
    font-size: small;
    margin-top: 0;
}

.prodCard sup {
    font-size: 14px;
}


/* Hamburger button */
.hamburger {
    background-color: transparent;
    margin-top: 0.5rem;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.hamburger:checked+.open {
    display: block;
    /* Show the menu when hamburger is checked */
}

.icon {
    width: 1em;
    height: 1em;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

/* Menu */
.menu {
    display: none;
    /* Hidden */
    width: 70%;
    height: 50vh;
    margin-top: 5rem;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

/* Open menu styles */
.menu.open {
    width: 70%;
    height: max-content;
    position: fixed;
    display: inline-block;
    justify-items: center;
    min-height: 48px;
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.3);
    animation: slide-in 0.414s ease-in-out forwards;
    /* Show the menu when open */
}

.menu-icon {
    width: 24px;
    height: 24px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

.menu .close-menu {
    /* Added close option styles */
    text-align: right;
    margin-right: 1em;
}

.close-btn {
    border-radius: 0px;
    border: none;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    margin-top: 1em;
    margin-right: 20px;
    cursor: pointer;
}

.close-btn:hover {
    background-color: red;
    border-radius: 5px;
    color: #fff;
}

.nav {
    width: 22%;
    height: 2em;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #020202;
    font-size: larger;
    margin-left: 40%;
    margin-bottom: 1.5em;
    padding-top: 7px;
    padding-left: 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.nav:hover {
    width: 22.5%;
    height: 2em;
    padding-top: 10px;
    padding-bottom: 0;
    color: #ffffff;
    text-shadow: 0 0 7px black;
    background-color: rgba(33, 152, 250, 0.8);
    border-radius: 8px;
    border-bottom: solid rgb(0, 0, 0) 2px;
}

.social {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
}

.social-icon {
    width: 40px;
}

b {
    margin-top: 3px;
}


.postDisplay {
    display: inline-flex;
    margin-left: 5.5rem;
}

.post {
    position: relative;
    width: 25rem;
    margin: 3rem 0 6rem 2rem;
    background-color: black;
    border-radius: 1rem;
    z-index: 0;
}

.post img {
    width: 100%;
    display: block;
    border-radius: 1rem;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.postBtn {
    background-color: transparent;
    font-size: large;
    border: none;
    color: white;
    width: max-content;
    border-radius: 100%;
}

.postBtn:hover {
    color: red;
}

.postBtn span {
    color: white;
}

.postBtn img {
    width: 1.5rem;
}

.post:hover .overlay {
    opacity: 1;
    transition: all .3s ease-in-out;
}


/* Footer Section */

footer {
    background-color: #333;
    padding: 20px 0;
    margin-top: 206%;
}

.footer-logo {
    margin: 4rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    /* Spread columns evenly */
}

.footer-column {
    flex-basis: 30%;
    /* Adjust column widths as needed */
}

.footer-column h3 {
    font-weight: bolder;
    color: #fcefef;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 1rem;
}

.footer-column ul li {
    margin-bottom: 1rem;
    color: #fcefef;
}

.footer-column ul li a {
    color: #fcefef;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: rgb(48, 186, 250);
    transition: all 0.4s ease-in-out;
    /* Highlight links on hover */
}

.footer-bottom {
    border-top: 1px solid #ffffff;
    padding-top: 1rem;
    margin-top: 1rem;
}

.footer-bottom p {
    font-size: 12px;
    text-align: center;
    color: #fcefef;
}

.img-container{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.img-container:hover{
    background-color: rgb(30, 151, 250);
    transition: all 0.4s ease-in-out;
}

.img-div{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.social {
    width: 1rem;
    margin: 0.5rem;
}

.footer-link{
    text-decoration: none;
    color: #fcefef;
}

.footer-link:hover{
    color: #fcefef;
}

.footer-link:visited{
    color: #fcefef;
}

.top-button{
    width: 2rem;
    height: 2rem;
    margin-top: 16rem;
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 100%;
}

.top-button:hover{
    background-color: #d4d1d1;
    transition: all 0.4s ease-in-out;
}

.top-arrow{
    width: 2rem;
}


/* keyframes +To Perform Animations */

@keyframes slide-in {

    /* For Opened Menu Buttons */

    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes slide-in-2 {

    /* For ".s1" Vlaues */

    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

/* Media Queries */
/* Empty */